<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-4"></div>
            <div class="col-4 ">
                <form action="" method="POST" class="">
                    {%csrf_token%}
                    <table>
                        {{form.as_table}}
                    </table>
                    <button type="submit" value="Edit Address" name="EditAddress">Update Address</button>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body>
</html>